<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List People</title>
</head>
<body>
<h1> Users</h1>
<table border="1">
    <tr style="color: indianred">
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr>
    <tr th:each="user : ${people}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td th:utext="${user.getRole()}"></td>

        <td>
            <form th:method="DELETE" th:action="@{/admin/people/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <a th:href="@{/admin/people/{id}/edit(id=${user.getId()})}">Edit</a>
        </td>
    </tr>
</table>
<br/>
<button onclick="window.location.href = '/admin/people/new';">Add new user</button>
</body>
</html>